{
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/no-unknown-property": "off",
    "no-console": "warn",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
